<p>shop works!</p>

<section *ngFor="let product of products">
  <ul class="listOfProducts">
    <li>{{ product.id }}</li>
    <li>{{ product.name }}</li>
    <li>{{ product.price }} £</li>
    <button (click)="addNew(product)">+</button>
    <button>-</button>
  </ul>
</section>

<div *ngIf="cart">
  <h2>Cart:</h2>
  <ul *ngFor="let p of cart">
    <li>{{p.name}}
    {{p.price}} £
    {{p.name}}</li>
    <li> TOTAL --> {{p.price*p.quantity | number : '1.2-2'}} £</li>
  </ul>
</div>

<button (click)="btnClick()">Ir a carrito</button>
